.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    padding: 2px;
}
h1{
    
    text-align: center;
    color: blue;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(57, 10, 119),rgb(36, 1, 36));
}

.container{
    max-width: 875px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom:23px ;
    background-color: rgb(13, 92, 92);
    border-radius: 10px;
}

.message{
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;

}
.left{
    float:right;
    clear:both;
}
.right{
    float: left;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp{
   width: 78%;
   border: 2px solid black;
   border-radius: 6px;
   height: 34px; 
   background-color: rgb(31, 31, 35);
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    background-color: blue;
}